/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 29, 2025, 11:07:24 PM
    Author     : ultsu
*/
.user
{
    display: flex;
    gap: 10px;
    font-weight: bold
}
.features
{
    
}
.logout
{
    
}